
version: "3.7"
services:
  speedtest-tracker:
    environment:
      - PUID=1000
      - PGID=1000
      - DB_CONNECTION=mysql
      - DB_HOST=speedtest-tracker-db
      - DB_PORT=3306
      - DB_DATABASE=speedtest_tracker
      - DB_USERNAME=umbrel
      - DB_PASSWORD=umbrel
      - TZ=America/Chicago
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "${APP_DATA_DIR}/config:/config"
      - "${APP_DATA_DIR}/web:/etc/ssl/web"
    image: "linuxserver/speedtest-tracker:1.6.8"
    restart: unless-stopped
    depends_on:
      - speedtest-tracker-db
    networks:
      - speedtest_tracker_network
  speedtest-tracker-db:
    image: mariadb:10
    restart: always
    environment:
      - MARIADB_DATABASE=speedtest_tracker
      - MARIADB_USER=umbrel
      - MARIADB_PASSWORD=umbrel
      - MARIADB_RANDOM_ROOT_PASSWORD=true
    volumes:
      - "${APP_DATA_DIR}/mysql:/var/lib/mysql"
    networks:
      - speedtest_tracker_network
  app_proxy:
    environment:
      APP_HOST: ozturk-speedtesttracker_speedtest-tracker_1
      APP_PORT: "80"
networks:
  speedtest_tracker_network:
    driver: bridge