version: "3.7"

services:
  db:
    image: postgres:17
    restart: always
    environment:
      - POSTGRES_DB=speedtest_tracker
      - POSTGRES_USER=umbrel
      - POSTGRES_PASSWORD=umbrel
    volumes:
      - speedtest-db:/var/lib/postgresql/data

  speedtest-tracker:
    image: lscr.io/linuxserver/speedtest-tracker:latest
    container_name: speedtest-tracker
    restart: unless-stopped
    depends_on:
      - db
    ports:
      - "8080:80"
      - "8443:443"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Istanbul
      - APP_URL=http://localhost:8080
      - APP_KEY_FILE=/config/keys/app_key.txt
      - DB_CONNECTION=pgsql
      - DB_HOST=db
      - DB_PORT=5432
      - DB_DATABASE=speedtest_tracker
      - DB_USERNAME=umbrel
      - DB_PASSWORD=umbrel
    volumes:
      - ${APP_DATA_DIR}/data/config:/config
      - ${APP_DATA_DIR}/data/keys/app_key.txt:/config/keys/app_key.txt:ro

volumes:
  speedtest-db: